[Unit]
Description=[Service description]

[Service]
Restart=on-failure
RestartSec=5s
Type=simple
StandardOutput=journal
ExecStart=%h/.cargo/bin/rusty-hass-laptop

[Install]
WantedBy=default.target
